export("dif", "dis", "kmeans.run", "mat.dif", "mat.dis", "mmds","mmds.project", "mmds.plot", "mmds.2D.plot","mmds.2D.multi", "mmds.3D.plot","scree.plot", "random.msa", "import.fasta", "import.msf", "sil.score", "write.mmds.pdb","col.group","extract.cluster","export.fasta")

importFrom(rgl, plot3d)
importFrom(amap, Kmeans)
importFrom(e1071, matchClasses)
importFrom(scales, alpha)
importFrom(cluster, silhouette)
